* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-image: url("./imgs/background-image.png");
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#calculator {
  display: flex;
  padding: 20px;
  justify-content: center;
  background-color: #3b3b3b;
  border: 5px solid black;
  border-radius: 10px;
  align-content: space-between;
  width: 330px;
  flex-wrap: wrap;
  gap: 10px;
  box-shadow: 8px 12px;
  margin: 15px 0;
}

button {
  width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10%;
  border: 3px solid black;
  box-shadow: 3px 5px black;
  background-color: #8383f47b;
  color: #ffffff;
}

#display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  height: 130px;
  border: 5px solid black;
  border-radius: 10px;
  box-shadow: 5px 8px black;
  background-color: #ffffffaa;
  margin-bottom: 20px;
}

#error-message-division-by-zero {
  justify-content: center;
  text-align: center;
  display: none;
  color: #ca1010;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

#main-screen,
#history-screen {
  padding: 10px 15px;
  overflow-y: hidden;
  white-space: nowrap;
}

#main-screen {
  text-align: end;
  font-size: 30px;
  font-weight: bold;
}

#history-screen {
  font-size: 20px;
  height: 30px;
}

#clear,
#backspace {
  width: 130px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 4px 6px black;
  margin-bottom: 5px;
  background-color: #b73c3c;
  color: #ffffff;
}

#equality {
  background-color: #317d31;
}

.operator {
  background-color: #cc9226;
  box-shadow: 3px 5px black;
}

button:hover,
#equality:hover,
#clear:hover,
#backspace:hover {
  cursor: pointer;
  background-color: #ffff00;
  color: black;
  border: 3px solid white;
}

button:active,
#equality:active,
#clear:active,
#backspace:active {
  transform: translateY(2px);
  box-shadow: 1px 1px black;
}

@media (max-width: 400px) {
  #calculator {
    width: 280px;
  }
}
