body {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  overflow-y: hidden;
  background-image: url(https://i.stack.imgur.com/jGlzr.png);
}

* {
  margin: 0;
  padding: 0;
}

#calculator {
  display: flex;
  padding: 20px;
  justify-content: center;
  background-color: #3b3b3b;
  border: 5px solid black;
  border-radius: 10px;
  align-content: space-between;
  width: 330px;
  flex-wrap: wrap;
  gap: 10px;
  box-shadow: 8px 12px;
}

button {
  width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10%;
  border: 3px solid black;
  box-shadow: 3px 5px black;
  background-color: #8383f47b;
  color: #ffffff;
}

#display {
  width: 260px;
  height: 130px;
  border: 5px solid black;
  border-radius: 10px;
  box-shadow: 5px 8px;
  background-color: #ffffffaa;
  margin-bottom: 20px;
}

#button-clear,
#button-backspace {
  width: 130px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 4px 6px black;
  margin-bottom: 5px;
  background-color: #b73c3c;
  color: #ffffff;
}

#button-equality {
  background-color: #317d31;
}

.operator {
  background-color: #cc9226;
  box-shadow: 3px 5px black;
}

button:hover,
#button-equality:hover,
#button-clear:hover,
#button-backspace:hover,
button:focus,
#button-equality:focus,
#button-clear:focus,
#button-backspace:focus {
  cursor: pointer;
  background-color: #2c9d9d;
  color: black;
  border: 3px solid white;
}

button:focus,
#button-equality:focus,
#button-clear:focus,
#button-backspace:focus {
  background-color: #ffff00;
}

@media (max-width: 400px) {
  #calculator {
    width: 280px;
  }
}
